<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>IdoXinY</title>
		<meta name="description" content="I do X (a job) in Y (a place)" />
		<meta name="author" content="Flaming Tarball" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="/media/css/style.css" />
		<link rel="stylesheet" href="/media/fonts/goldengate-gothic/stylesheet.css" />
		<script src="/media/js/libs/modernizr-2.0.6.min.js"></script>
		<script src="/media/js/libs/jquery-1.6.2.min.js"></script>
	</head>
	
	<body>
		<div id="container">
			<header>
				<h1>idoxiny</h1>
			</header>
			
			<div id="main" role="main">
				<div class="profile">
					<p>Sorry, but it looks like something&rsquo;s gone a bit wrong.</p>
					<p>Please bear with us as this was only built in a few hours and so is probably pretty shaky.</p>
					<p>Moxy has been emailed about the error though, so I&rsquo;m sure he&rsquo;ll get onto it.</p>
				</div>
			</div>
			
			<footer>
				<p>
					Made (badly) by @<a href="http://twitter.com/moxypark">moxypark</a> to try and help freelancers get work.<br />
					I&rsquo;m not responsible for what happens after you connect with someone via this site.
				</p>
				
				<p>
					Email <a href="mailto:idoxiny@gmail.com">idoxiny@gmail.com</a>
					if you have any questions, or want your profile taken down.
				</p>
			</footer>
		</div>
	</body>
</html>